body {
   margin: 0;
}

#health-hud{
   position: fixed;
   left: 10px;
   top: 10px;

   gap: 10px;
   display: flex;
   flex-direction: row;
}

#health-hud img{
   width: 60px;
   object-fit: fill;
}

#spheres-hud{
   position: fixed;
   right: 10px;
   top: 10px;

   display: flex;
   flex-direction: row;
}

#spheres-hud p{
   font-size: 3em;
   margin: 0;
}